.topnav {
    background-color: #262626;
    height: 100;
    padding: 13px;
    margin-top: -10px;
    padding-right: 0;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    font-style: Georgia;
    font-size: 20px;
}

.side-nav {
    width: 15%;
    background-color: #262626;
}

.card-layout {
    width: 80%;
    background-color: #A8D08C;
}

.card-style {
    background-color: white;
    width: 20rem;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #A8D08C;
    height: 35rem;
}